# DFINITY & Canister Files
.dfx/
src/declarations/
*.did.js
*.did.d.ts
canister_ids.json
.env
.mops/

# Node dependencies
node_modules/
frontend/node_modules/

# Build output
frontend/dist/
out/

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.code-workspace

# Operating System Files
*.swp
*~